extends default

block content

	// Include the reptile selections
	include reptiSelect.pug

	div#cagePage.container
		div.d-flex.flex-column.entryArea
			// Data Entry Boxes
			form(action="/monitoring/cage/"+selected._id, method="post")
				// Temperature & Humidity
				div.section.mb-2
					div.sectionIcon
						i.fas.fa-thermometer-three-quarters.fa-2x
					div.sectionHeader.p-1
						h2.itemHeader Temperatures & Humidity:
					div.sectionContent.pt-3
						div.container
							div.row.bg-light.border.border-dark.rounded.m-3.p-2
								h3.itemText Select a reptile above, enter the cage conditions below.
							div.row.bg-light.border.border-dark.rounded.m-3.pt-3
								div.container
									div.row.p-3
										div.col-6
											div.input-group
												div.input-group-prepend
													span.input-group-text Date:
												input.form-control(type="date", name="date", min="2020-01-01")
										div.col-6
											div.input-group
												div.input-group-prepend
													span.input-group-text
														i.fas.fa-cloud
												input.form-control(type="text", name="humidity", placeholder="Humidity %", min="0", max="100", required)
									div.row.p-3
										div.col-6
											div.input-group
												div.input-group-prepend
													span.input-group-text
														i.far.fa-snowflake
												input.form-control(type="text", name="cool", placeholder="Cool Side F°", required, autofocus)
										div.col-6
											div.input-group
												div.input-group-prepend
													span.input-group-text
														i.fab.fa-gripfire
												input.form-control(type="text", name="warm", placeholder="Warm Side F°", required)
									div.row.p-3.justify-content-center
										button(type="submit").btn.btn-primary
											label Chart It
											i.fas.fa-share.turn90.ml-1

			// Enclosure Data Charts Area		
			div.section
				div.sectionIcon
					i.fas.fa-chart-line
				div.sectionHeader
					h2.itemHeader Charts
				div.sectionContent
					div.container
						div.row
							div.col-2.bg-light.border.border-dark.rounded.m-3.shadow
							
								div.row.bg-dark.justify-content-center.shadow
									h3.itemText.text-light.mt-3.mb-2 Options
								div.row.justify-content-center.mb-3.mt-2
									button#templeft.btn.btn-lg.btn-primary.m-1(onclick="decrementTime()")
										i.fas.fa-angle-left
									button#tempright.btn.btn-lg.btn-primary.m-1(onclick="incrementTime()")
										i.fas.fa-angle-right
										
								div.row.justify-content-center.mb-2
									div.btn-group.w-responsive
										button#tempweek.btn.btn-outline-secondary(onclick="setWeekView()") Week
										div.btn-group
											button.btn.btn-secondary.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
											div.dropdown-menu
												a(href="#").dropdown-item 0eqweq
												a(href="#").dropdown-item 0eqweq
												
								div.row.justify-content-center.mb-3
									div.btn-group.w-responsive
										button#tempmonth.btn.btn-outline-secondary(onclick="setMonthView()") Month
										div.btn-group
											button.btn.btn-secondary.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
											div.dropdown-menu
												a(href="#").dropdown-item 0eqweq
												a(href="#").dropdown-item 0eqweq
								
								div.row.mb-2
									div.input-group.justify-content-center.w-responsive
										div.input-group-prepend.bg-secondary.rounded-left.p-2
											input(type="checkbox")
										span.input-group-text.shadow Cool Temps
										
								div.row.mb-2
									div.input-group.justify-content-center.w-responsive
										div.input-group-prepend.bg-secondary.rounded-left.p-2
											input(type="checkbox")
										span.input-group-text Warm Temps
						
											
								div.row.mb-2
									div.input-group.justify-content-start.ml-4.w-responsive
										div.input-group-prepend
											div.input-group-prepend.bg-secondary.rounded-left.p-2
												input(type="checkbox")
										span.input-group-text.shadow Humidity											
												
							div.col-9
								// Temperature Chart		
								div.container.bg-light.border.border-dark.rounded.m-3.shadow
									div.row.bg-dark.justify-content-center.shadow
										h3.itemText.text-light.mt-3.mb-2 Readings
									div.row.p-2
										canvas#readingChart.w-100(data-id=selected._id)
