extends default

block content

	// Include the reptile selections
	include reptiSelect
	
	div#cagePage.cagePageGrid
		// Enclosure Data Entry Area
		div#cageDataEntryArea.cageDataEntryArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Enter Enclosure Conditions:
			div.borderD.solidColrC.medEvenPad
				p.standardText Select the reptile you want to track above, then enter the current enclosure conditions below.
				p.standardText Once submitted, the data will be charted.
				form(action="/cage/submit" method="post")
					i#snowIcon.entryIcon.coolIcon.far.fa-snowflake
					input#coolEntry.coolEntry.chartEntry.borderC(type="text" name="coolSide" placeholder="Cool Side F°" required)
					i#flameIcon.entryIcon.warmIcon.fab.fa-gripfire
					input#warmEntry.warmEntry.chartEntry.borderC(type="text" name="warmSide" placeholder="Warm Side F°" required)
					i#cloudIcon.humidIcon.entryIcon.fas.fa-cloud
					input#humidEntry.humidEntry.chartEntry.borderC(type="text" name="humidity" placeholder="Humidity %" required)
					button.submitButton.buttonTypeA.gradientB.hoverItem.clickItem(type="submit" name="button")
						label(for="button") Chart It
						i.fas.fa-share.turn90(style="margin-left: 5px")

		// Enclosure Data Charts Area
		// Temperature
		div.tempChartArea.contentGrid
			h3.fancyText.h4Size.textEffectC.borderA.gradientC Temperatures:
			div.borderA
				canvas#temperatureChart.chart.temperatureChart
		// Humidity
		div.humidChartArea.contentGrid
			h3.fancyText.h4Size.textEffectC.borderA.gradientC Humidity:
			div.borderA
				canvas#humidityChart.chart.humidityChart
