extends default

block content

	// Include the reptile selections
	include reptiSelect.pug
	
	div#cagePage.cagePageGrid
		// Enclosure Data Entry Area
		div.cageDataEntryArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Enter Enclosure Conditions:
			div.borderD.solidColorC.p-3
				p Select the reptile you want to track above, then enter the current enclosure conditions below.
				p Once submitted, the data will be charted.
				hr
				form(action="/monitoring/cage/"+selected._id, method="post")
					div.grid-3col
						div.input-group.mb-3
							div.input-group-prepend
								span.input-group-text  Date:
							input.form-control(type="date", name="date", min="2019-01-01")
					div.grid-3col
						div.input-group.mb-3
							div.input-group-prepend
								span.input-group-text  Time:
							select.form-control(name="time")
								option(value=0) 12:00 AM
								option(value=1) 1:00  AM
								option(value=2) 2:00  AM
								option(value=3) 3:00  AM
								option(value=4) 4:00  AM
								option(value=5) 5:00  AM
								option(value=6) 6:00  AM
								option(value=7) 7:00  AM
								option(value=8) 8:00  AM
								option(value=9) 9:00  AM
								option(value=10) 10:00  AM
								option(value=11) 11:00  AM
								option(value=12) 12:00  PM
								option(value=13) 1:00  PM
								option(value=14) 2:00  PM
								option(value=15) 3:00  PM
								option(value=16) 4:00  PM
								option(value=17) 5:00  PM
								option(value=18) 6:00  PM
								option(value=19) 7:00  PM
								option(value=20) 8:00  PM
								option(value=21) 9:00  PM
								option(value=22) 10:00  PM
								option(value=23) 11:00  PM					
					div.grid-3col.mb-3
						div.input-group
							div.input-group-prepend
								span.input-group-text
									i.far.fa-snowflake
							input.form-control(type="text", name="coolSide", placeholder="Cool Side F°", required, autofocus)
						div.input-group
							div.input-group-prepend
								span.input-group-text
									i.fab.fa-gripfire
							input.form-control(type="text", name="warmSide", placeholder="Warm Side F°", required)
						div.input-group
							div.input-group-prepend
								span.input-group-text
									i.fas.fa-cloud
							input.form-control(type="text", name="humidity", placeholder="Humidity %", required)
					button(type="submit").btn.btn-primary
						label Chart It
						i.fas.fa-share.turn90.ml-1

					br

		// Enclosure Data Charts Area
		// Temperature
		div.tempChartArea.contentGrid
			h3.fancyText.h4Size.textEffectC.borderA.gradientC Temperatures:
			div.borderA
				button.btn.bg-light.m-1 Weekly
				button.btn.bg-light.m-1 Daily
				button.btn.bg-light.m-1.d-none
					i.fas.fa-angle-left
				button.btn.bg-light.m-1
					i.fas.fa-angle-right
				canvas#temperatureChart.temperatureChart.w-100.h-100(data-id=selected._id)
		// Humidity
		div.humidChartArea.contentGrid
			h3.fancyText.h4Size.textEffectC.borderA.gradientC Humidity:
			div.borderA
				canvas#humidityChart.humidityChart.w-100.h-100(data-id=selected._id)
