extends default

block content

	// Include the reptile selections
	include reptiSelect.pug
	
	// I'd like to give the class names more sense
	// for the page, I have an intro section that explains what to do
	// and I have an entry section where data is entered,
	// then a graph section where data is presented
	// I've got most of the entry section styled the way I want, 
	// So I should expand the style to the into above
	// intro, entry, graph
	// 

	div#cagePage.container.cagePageGrid
		div.d-flex.flex-column.entryArea
			// Intro Box			
			div.intro
				div.introHeader.p-1
					h2.itemHeader Enclosure Conditions:
				div.introExplain.p-2
					p.itemText Select a reptile above, enter the cage conditions below.
			// Data Entry Boxes
			form(action="/monitoring/cage/"+selected._id, method="post")
				// Date & Time
				div.entry
					div.entryIcon
						i.fas.fa-clock.fa-2x
					div.entryHeader.p-1
						h2.itemHeader Date & Time
					div.entryBlock.d-flex.flex-wrap
						div.input-group.w-50.p-3
							div.input-group-prepend
								span.input-group-text Date:
							input.form-control(type="date", name="date", min="2020-01-01")
				// Temperature & Humidity
				div.entry.mb-2
					div.entryIcon
						i.fas.fa-thermometer-three-quarters.fa-2x
					div.entryHeader.p-1
						h2.itemHeader Temperatures & Humidity:
					div.entryBlock.d-flex.flex-wrap.align-items-center
						div.input-group.w-50.p-3
							div.input-group-prepend
								span.input-group-text
									i.far.fa-snowflake
							input.form-control(type="text", name="cool", placeholder="Cool Side F°", required, autofocus)
						div.input-group.w-50.p-3
							div.input-group-prepend
								span.input-group-text
									i.fab.fa-gripfire
							input.form-control(type="text", name="warm", placeholder="Warm Side F°", required)
						div.input-group.w-50.p-3
							div.input-group-prepend
								span.input-group-text
									i.fas.fa-cloud
							input.form-control(type="text", name="humidity", placeholder="Humidity %", min="0", max="100", required)
						button(type="submit").btn.btn-primary.condiSubmit.ml-auto.m-3
							label Chart It
							i.fas.fa-share.turn90.ml-1
		// Enclosure Data Charts Area
		// Temperature
		div.tempChartArea
			div.graph
				div.graphHeader.p-2
					h2.itemHeader Temperatures:
				div.graphBlock.p-2
					//div.graphInterface
						button.btn.bg-light.m-1
							i.fas.fa-angle-left
						button.btn.bg-light.m-1 Weekly
						button.btn.bg-light.m-1 Daily					
						button.btn.bg-light.m-1
							i.fas.fa-angle-right
					canvas#temperatureChart.temperatureChart.w-100.h-100(data-id=selected._id)
		// Humidity
		div.humidChartArea
			div.graph
				div.graphHeader.p-2
					h3.itemHeader Humidity:
				div.graphBlock.p-2
					//div.graphInterface
						button.btn.bg-light.m-1
							i.fas.fa-angle-left
						button.btn.bg-light.m-1 Weekly
						button.btn.bg-light.m-1 Daily					
						button.btn.bg-light.m-1
							i.fas.fa-angle-right
					canvas#humidityChart.humidityChart.w-100.h-100(data-id=selected._id)
