doctype html
html(lang="en-US")
	head
		title Reptile LifeStyle
		// Bring in personal styles
		link(rel="stylesheet" type="text/css" href="/css/styles.css")
		// Bring in Font Awesome Icons
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
		// Bring in Bootstrap
		link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
		// Bring in Google Fonts
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous")
		meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
		
	body
		main.siteGrid
			// Header
			header.header.headerGrid
				// Logo/Home
				div.logo
					a(href="/home") Reptile<br>Lifestyle
				// Navigation
				nav.navi
					ul.navList
						li#homePageButton.navButton
							i.navButtonIcon.fas.fa-sign-in-alt
							a.navButtonText.fancyText(href="/home") Home
						if user
							if selected				
								li#infoPageButton.navButton
									i.navButtonIcon.fas.fa-dragon
									a.navButtonText.fancyText(href="/monitoring/info/"+selected.name) Info
								li#cagePageButton.navButton
									i.navButtonIcon.fas.fa-box
									a.navButtonText.fancyText(href="/monitoring/cage/"+selected.name) Cage
								li#foodPageButton.navButton
									i.navButtonIcon.fas.fa-utensils
									a.navButtonText.fancyText(href="/monitoring/food/"+selected.name) Food
							else
								li#infoPageButton.navButton
									i.navButtonIcon.fas.fa-dragon
									a.navButtonText.fancyText(href="/monitoring/info") Info
								li#cagePageButton.navButton
									i.navButtonIcon.fas.fa-box
									a.navButtonText.fancyText(href="/monitoring/cage") Cage
								li#foodPageButton.navButton
									i.navButtonIcon.fas.fa-utensils
									a.navButtonText.fancyText(href="/monitoring/food") Food

				div.login
					// Note: upon scrolling down, condense the login and logos to button-sized links
					// NOTE: it may be helpful to put the header in it's own file as an include. Getting back into this is a bit frustrating
					//Only show login/signup when no user logged in
					if user
						a.btn.btn-danger.logoutButton(href="/profile/logout") Log Out
					else
						form.loginLayout(method="POST" action="/profile/login")
							div.input-group.usernameInput
								div.input-group-prepend
									span.input-group-text.width-100 Username:
								input.form-control(type='text' name='username')
							div.input-group.passwordInput
								div.input-group-prepend.text-right
									span.input-group-text.width-100 Password:
								input.form-control(type='text' name='password')
							input.btn.btn-primary.loginButton(type='submit' value="Log In")
							input.btn.btn-secondary.signupButton(type='button' value="Sign Up")
					

			// Page Content
			section.page.borderE.solidColorB
				// Display event messages
				!= messages('message', locals)
				if errors
					each error, i in errors
						div.alert.alert-danger.m-4 #{error.msg}
				
				block content
					// Provide default content in case the page does not load
					p PAGE NOT FOUND 

			// Footer
			footer.footer.footerGradient.borderE.bottomEdgeBorder
				a.aboutLink
				a.gitLink
				a.personalLink

			// Include Bootstrap JS Components
			script(src="/bower_components/jquery/dist/jquery.js")
			script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
			// Bring in ChartJS base
			script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
			// Bring in personal scripts
			script(src="/javascript/scripts.js")
