doctype html
html(lang="en-US")
	head
		title Reptile LifeStyle
		// Bring in personal styles
		link(rel="stylesheet" type="text/css" href="/css/styles.css")
		// Bring in Font Awesome Icons
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
		// Bring in Bootstrap
		link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
		// Bring in Google Fonts
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous")
		meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
		
	body
		main.siteGrid
			// Navigation
			nav.navbar.navbar-default.justify-content-start.hf-style
				div.container-fluid.h-100
					div.navbar-header.mx-2
						a.navbar-brand.m-0.p-2(href="/home") Reptile<br>Lifestyle
					div.divider.v-divider.mx-2
					ul.nav.navbar-right.flex-grow-1
						li.nav-item.hoverItem
							a.nav-link(href="/home")
								i.navButtonIcon.fas.fa-sign-in-alt
								p.navButtonText Home
						//
							li.nav-item.hoverItem
								a.nav-link(href="/colors")
									i.navButtonIcon.fas.fa-sign-in-alt
									p.navButtonText Colors
						if user
							if selected
								//				
									li.nav-item.hoverItem
										a.nav-link(href="/monitoring/info/"+selected.name)
											i.navButtonIcon.fas.fa-dragon
											p.navButtonText Info
								li.nav-item.hoverItem
									a.nav-link(href="/monitoring/cage/"+selected.name)
										i.navButtonIcon.fas.fa-box
										p.navButtonText Cage
								//
									li.nav-item.hoverItem
										a.nav-link(href="/monitoring/food/"+selected.name)
											i.navButtonIcon.fas.fa-utensils
											p.navButtonText Food
							else
								//
									li.nav-item.hoverItem
										a.nav-link(href="/monitoring/info")
											i.navButtonIcon.fas.fa-dragon
											p.navButtonText Info
								li.nav-item.hoverItem
									a.nav-link(href="/monitoring/cage")
										i.navButtonIcon.fas.fa-box
										p.navButtonText Cage
								//
									li.nav-item.hoverItem
										a.nav-link(href="/monitoring/food")
											i.navButtonIcon.fas.fa-utensils
											p.navButtonText Food

					div.login
						//Only show login/signup when no user logged in
						if user
							a.btn.btn-danger.logoutButton(href="/profile/logout") Log Out
						else
							form.loginLayout(method="POST" action="/profile/login")
								div.input-group.usernameInput
									div.input-group-prepend
										span.input-group-text.width-100 Username:
									input.form-control(type='text' name='username')
								div.input-group.passwordInput
									div.input-group-prepend.text-right
										span.input-group-text.width-100 Password:
									input.form-control(type='text' name='password')
								input.btn.btn-primary.loginButton(type='submit' value="Log In")
								a.btn.btn-secondary.signupButton(type='button' href="/profile/create_user") Sign Up
				

			// Page Content
			section.page
				// Display event messages
				!= messages('message', locals)
				if errors
					each error, i in errors
						div.alert.alert-danger.m-4 #{error.msg}
				
				block content
					// Provide default content in case the page does not load
					p PAGE NOT FOUND 

			// Footer
			footer.hf-style.bottomEdgeBorder
				a.aboutLink
				a.gitLink
				a.personalLink

			// Include Bootstrap JS Components
			script(src="/bower_components/jquery/dist/jquery.js")
			script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
			// Bring in ChartJS base
			script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
			// Bring in personal scripts
			script(src="/javascript/scripts.js")
