doctype html
html(lang="en-US")
	head
		title #{snakeName}'s Health Tracker
		link(rel="stylesheet" type="text/css" href="./css/styles.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Electrolize")
		meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
	body.bodyGrid

		block content

		