extends default

block content

  // Include the reptile selections
  include reptiSelect
  
  div#foodPage.foodPageGrid
    //This page will contain feeding schedules and history, as well as nutritional
    //recomendations
