extends default

block content

	// Include the reptile selections
	include reptiSelect.pug

	div#foodPage.foodPageGrid
		// Feeding Schedule Info
		div.feedingScheduleArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Scheduling
			div.borderD.solidColorC.p-3
				p.p-2 Schedule their next feeding here.
				hr
				div.grid-2col
					div.input-group
						div.input-group-prepend
							label.input-group-text Next Feeding:
						input.form-control.disabled(type="date")
					div.grid-1col
						div.input-group
							div.input-group-prepend
								label.input-group-text Previously Fed:
							input.form-control(type="date")
						div.input-group
							div.input-group-prepend
								label.input-group-text Water Last Filled:
							input.form-control(type="date")

		// Feeding Entry
		div.feedingEntryArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Feeding
			div.borderD.solidColorC.p-3
				p.p-2 Enter the food item's info here to record your reptiles' diet.
				hr
				form(method="POST" action="/monitoring/food/fed/"+selected._id)
					div.grid-2col
						// Date Entry
						div.input-group
							div.input-group-prepend
								label.input-group-text Date:
							input.form-control(type="date")
						// Weight Entry
						div.input-group
							div.input-group-prepend
								label.input-group-text Weight:
							input.form-control(type="text")
						// Category Entry
						div.input-group
							div.input-group-prepend
								label.input-group-text Category:
							select.form-control
								option Fruit
								option Vegetable
								option Insect
								option Animal
								option Egg
								option Reptile Chow
						// Food Kind Entry
						div.input-group
							div.input-group-prepend
								label.input-group-text Species/Kind:
							input.form-control(type="text")
						// Living Entry
						fieldset.input-group
							div.input-group-prepend
								label.input-group-text Alive?
							div.form-control
								
								input(type="radio")
								label.ml-1.mr-4 Yes
								
								input(type="radio" checked)
								label.ml-1 No
					div.form-group.text-center.pt-3
						button.btn.btn-primary(type="submit") Reptile Fed  
					

		// Watering Entry				
		div.waterEntryArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Water
			div.borderD.solidColorC.p-3
				p.p-2 Record when their water was replaced.
				hr
				form(method="POST" action="/monitoring/food/watered/"+selected._id)
					div.input-group
						div.input-group-prepend
							label.input-group-text Date:
						input.form-control(type="date")
					div.form-group.text-center.pt-3
						button.btn.btn-primary(type="submit") Water Filled

		// Feeding Charts
		div.feedingChartArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Diet & Portions
			div.borderD.solidColorC.p-3
				p Chart

		// This page will contain feeding schedules and history, as well as nutritional recomendations
		// Food types should be dropdowns based on the diet of the animal
		// I'd like a feeding schedule and warning system.
		// So that if its close to feeding time or past it, a dismissable warning will pop up thru the site.
