extends default

block content

	// Include the reptile selections
	include reptiSelect.pug

	div#foodPage.foodPageGrid
		// Feeding Schedule Info
		div.feedingScheduleArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Scheduling
			div.borderD.solidColorC.p-3
				p Next Feeding:
				p Previously Fed:
				p Water Last Filled:

		// Feeding Entry
		div.feedingEntryArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Feeding
			div.borderD.solidColorC.p-3
				form(method="POST" action="/monitoring/food/fed/"+selected._id)
					div.formGrid2
						div.form-group.form-row
							label.col-sm-2.text-right Date:
							input.col-sm-10.form-control(type="date")
						div.form-group.form-row
							label.col-sm-3.text-right Weight:
							input.col-sm-9.form-control(type="text")
						div.form-group.form-row
							label.col-sm-3.text-right Category:
							select.col-sm-9.form-control
								option Fruit
								option Vegetable
								option Insect
								option Animal
								option Egg
								option Reptile Chow
						fieldset.form-group.form-row
								label.col-sm-3.text-right Alive?
								div.col-sm-9
									div
										input(type="radio")
										label.ml-1 Yes
									div
										input(type="radio" checked)
										label.ml-1 No
					div.form-group.text-center
						button.btn.btn-primary(type="submit") Reptile Fed  
					

		// Watering Entry				
		div.waterEntryArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Water
			div.borderD.solidColorC.p-3
				form(method="POST" action="/monitoring/food/watered/"+selected._id)
					div.form-group.row
						label.col-sm-2.col-form-label Date:
						div.col-sm-10
							input.form-control(type="date")
					div.form-group.text-center
						button.btn.btn-primary(type="submit") Water Filled

		// Feeding Charts
		div.feedingChartArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Diet & Portions
			div.borderD.solidColorC.p-3
				p Chart

		// This page will contain feeding schedules and history, as well as nutritional recomendations
		// Food types should be dropdowns based on the diet of the animal
		// I'd like a feeding schedule and warning system.
		// So that if its close to feeding time or past it, a dismissable warning will pop up thru the site.
