extends default

block content

	// Include the reptile selections
	include reptiSelect.pug

	div#foodPage.foodPageGrid
		// Feeding Schedule Info
		div.feedingScheduleArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Scheduling
			div.borderD.solidColorC.p-3
				p Next Feeding:
				p Previously Fed:
				p Water Last Filled:

		// Feeding Entry
		div.feedingEntryArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Feeding
			div.borderD.solidColorC.p-3
				form(method="POST" action="/monitoring/food/fed/"+selected._id)
          div.col-sm-6
            div.form-group
              label.col-sm-2.col-form-label.text-right Date:
              div.col-sm-10
                input.form-control(type="date")
            div.form-group
              label.col-sm-2.col-form-label Weight:
              div.col-sm-10
                input.form-control(type="text")
          div.col-sm-6
            div.form-group
              label.col-sm-3.col-form-label.text-right Category:
              div.col-sm-9
                select.form-control
                  option Fruit
                  option Vegetable
                  option Insect
                  option Animal
                  option Egg
                  option Reptile Chow
            div.form-group
              fieldset.form-row
								legend.col-sm-2.col-form-label Alive?
								div.col-sm-10
									div.form-check
										input.form-check-input(type="radio")
										label.form-check-label Yes
									div.form-check
										input.form-check-input(type="radio" checked)
										label.form-check-label No
          div.form-group.text-center
						button.btn.btn-primary(type="submit") Reptile Fed  
					

		// Watering Entry				
		div.waterEntryArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Water
			div.borderD.solidColorC.p-3
				form(method="POST" action="/monitoring/food/watered/"+selected._id)
					div.form-group.row
						label.col-sm-2.col-form-label Date:
						div.col-sm-10
							input.form-control(type="date")
					div.form-group.text-center
						button.btn.btn-primary(type="submit") Water Filled

		// Feeding Charts
		div.feedingChartArea.contentGrid
			h3.fancyText.h3Size.textEffectC.borderA.gradientC Diet & Portions
			div.borderD.solidColorC.p-3
				p Chart

		// This page will contain feeding schedules and history, as well as nutritional recomendations
		// Food types should be dropdowns based on the diet of the animal
		// I'd like a feeding schedule and warning system.
		// So that if its close to feeding time or past it, a dismissable warning will pop up thru the site.
