extends default

block content
	div.titleArea
		h1 #{snakeName}'s Daily Monitor
	div.dataEntryDisplayBlock
		h2.enclosureTitle Enclosure Data:
		hr.horizontalSeparator
		form.formGrid(action="submitEnclosureData" method="post")
			i.entryIcon.coolIcon.far.fa-snowflake
			input.textEntry.coolInput(type="text" name="inputCoolSide" placeholder="Cool Side F°" required)
			i.entryIcon.warmIcon.fab.fa-gripfire
			input.textEntry.warmInput(type="text" name="inputWarmSide" placeholder="Warm Side F°" required)
			i.entryIcon.humidIcon.fas.fa-cloud
			input.textEntry.humidInput(type="text" name="inputHumidity" placeholder="Humidity %" required)
			button.submitButton(type="submit" name="button") Chart It
		div.chartArea.tempArea
			canvas#tempChart(style="height: 300px; width: 100%")
		script.
			var ctx = document.getElementById("tempChart").getContext('2d');
			var myChart = new Chart(ctx, {
			    type: 'bar',
			    data: {
			        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
			        datasets: [{
			            label: '# of Votes',
			            data: [1, 3, 7, 2, 4, 9],
			            backgroundColor: [
			                'rgba(255, 99, 132, 0.2)',
			                'rgba(54, 162, 235, 0.2)',
			                'rgba(255, 206, 86, 0.2)',
			                'rgba(75, 192, 192, 0.2)',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: [
			                'rgba(255,99,132,1)',
			                'rgba(54, 162, 235, 1)',
			                'rgba(255, 206, 86, 1)',
			                'rgba(75, 192, 192, 1)',
			                'rgba(153, 102, 255, 1)',
			                'rgba(255, 159, 64, 1)'
			            ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});
		div.chartArea.humidArea
			canvas#humidChart(style="height: 300px; width: 100%")