extends default

block content
	// Home Page Content
	div#homePage.homePageGrid
		// Site Intro Image Area
		div.heroShotArea.jumbotron-fluid
			img.heroShot(src="https://static1.squarespace.com/static/5a543645e9bfdf89573cda02/t/5a76a313085229a61657f4f8/1517724492679/Iguana.jpg" alt="Image of reptiles and site abilities")
		// Site Intro Text Area
		div.siteIntroArea
			div.textGrid
				h3.h2Size.fancyText.text-light Keep Your Habitats Habitable
				p.standardText.text-light Keeping your scaled friends happy often requires more preparation and know-how than many of us would expect. With Reptile Lifestyle, you can be confident that your dragons, serpents, and every species between are in their comfort zone.
			div.textGrid
				h3.h2Size.fancyText.text-light Know Exactly When They're Not
				p.standardText.text-light Use our integrated sensors or plot enclosure conditions manually to be alerted when their conditions fall into unhealthy or dangerous ranges. You can also keep track of feeding schedules and weight to make sure they grow up into happy, healthy godzillas.
		// Reptile Info Area
		div.reptileInfoArea.listGrid.gradientC.borderE
			h3.fancyText.textEffectC Habitable Ranges
			ul.noBullets.standardText
				li
					a Ball Python
				li
					a Bearded Dragon
				li
					a Crested Gecko
				li
					a Iguana
				li
					a Chameleon
				li
					a Monitors