extends default

block content

  // Include the reptile selections
  include reptiSelect.pug
  
  // Set the page layout
  div#infoPage.infoPageGrid
    
    // Weight & Size & Age
    div.measurementArea.contentGrid
      h3.fancyText.h3Size.textEffectC.borderA.gradientC Growth
      div.borderD.solidColorC.medEvenPad
        p.standardText To keep track of #{nameOfSelected}'s growth, take measurements each month and enter them here.
        hr
        form.mb-4(method="post" action="info/measurements")
          div.grid-1col.mb-3
            div.input-group
              div.input-group-prepend
                span.input-group-text Age:
              input.form-control(type="text", name="age", disabled)
              div.input-group-append
                button.btn.btn-outline-secondary Edit

            div.input-group
              div.input-group-prepend
                span.input-group-text Weight:
              input.form-control(type="text", name="weight")
              div.input-group-append
                button.btn.btn-outline-secondary in kg

            div.input-group
              div.input-group-prepend
                span.input-group-text Length:
              input.form-control(type="text", name="length")
              div.input-group-append
                button.btn.btn-outline-secondary in cm

            div.input-group
              div.input-group-prepend
                span.input-group-text Girth:
              input.form-control(type="text", name="girth")
              div.input-group-append
                button.btn.btn-outline-secondary in cm

          button.btn.btn-primary(type="submit")
              label.fancyText Chart It
              i.fas.fa-share.turn90.ml-1
        div.borderA
            canvas.chart
 
    // Vet Info
    div.healthArea.contentGrid
        h3.fancyText.h3Size.textEffectC.borderA.gradientC Health
        div.borderD.solidColorC.medEvenPad
          p.standardText Save veterinary and health information
          hr
          div.mb-2.p-2
            span.badge.badge-pill.badge-secondary.p-2 Veterinary Info
            form#vetForm.p-2
              div.grid-1col
                div.input-group
                  div.input-group-prepend
                    span.input-group-text Preferred Vet:
                  input.form-control(type="text", placeholder="The Dragon Doctor", disabled)
                  div.input-group-append
                    button.btn.btn-outline-secondary(onclick="") Edit
                
                div.input-group
                  div.input-group-prepend
                    span.input-group-text Next Visit:
                  input.form-control(type="date", placeholder="N/A", disabled)

                div.input-group
                  div.input-group-prepend
                    span.input-group-text Previous Visit:
                  input.form-control(type="date", placeholder="N/A", disabled)
                
                div.input-group
                  div.input-group-prepend
                    span.input-group-text Phone #:
                  input.form-control(type="text", placeholder="406-333-444", disabled)
               
                div.input-group
                  div.input-group-prepend
                    span.input-group-text Email:
                  input.form-control(type="text", placeholder="ryuuisha@dd.party", disabled)

                div.input-group
                  div.input-group-prepend
                    span.input-group-text Address:
                  input.form-control(type="text", placeholder="333 Broadway Ave. Missoula MT, 59801", disabled)
              
          div.p-2
            span.badge.badge-pill.badge-secondary.p-2 Pathology
            form.p-2
              div.grid-1col
                div.input-group
                  div.input-group-prepend
                    span.input-group-text Current Illness:
                  input.form-control(type="text", placeholder="N/A", disabled)
                  div.input-group-append
                    button.btn.btn-outline-secondary(onclick="") Edit

                div.input-group
                    div.input-group-prepend
                      span.input-group-text Previous Illnesses:
                    input.form-control(type="text", placeholder="N/A", disabled)
                    div.input-group-append
                      button.btn.btn-outline-secondary(onclick="") Edit

    // Morph
    div.morphArea.contentGrid
      h3.fancyText.h3Size.textEffectC.borderA.gradientC Morph
      div.borderD.solidColorC.medEvenPad
        p.standardText Here you can store the pattern and colors on your reptile(s).
        hr
        div.input-group.mb-3
          div.input-group-prepend
            span.input-group-text #{selected.name}'s morph:
          select.custom-select
            option(value="Blue Eyed Leucistic") Blue Eyed Leucistic
            option(value="Mojave") Mojave
        
        div.startFlex.medBotMarg
          p.standardText(style="align-self: flex-end") #{selected.name}'s morph colors:
          div#selectedColors.startFlex
            
        
        button#colorToggle.btn.btn-primary(onclick="toggle('colorToggle', 'colorOptions')") Show Colors
          i.fas.fa-angle-right.turn90(style="margin-left: 5px")
        div#colorOptions.hidden
          p.standardText Choose your reptile's morph colors below:
          form.colorFlex(id="colorForm" action="/info/morph_colors" method="post")

            
    // Handling and Mood
    div.moodArea.contentGrid
      h3.fancyText.h3Size.textEffectC.borderA.gradientC Mood
      div.borderD.solidColorC.medEvenPad
        p Some reptiles can be a bit moody. Track their handling and how they tend to react here.
        hr
        form.p-2
          div.grid-1col
            div.input-group
              div.input-group-prepend
                span.input-group-text Last handled:
              input.form-control(type="date", placeholder="N/A", disabled)
              div.input-group-append
                button.btn.btn-outline-secondary(onclick="") Edit

            div.input-group
              div.input-group-prepend
                span.input-group-text #{selected.name}'s mood:
              select.custom-select
                option(value="Non-Stressed/Happy") Non-Stressed/Happy
                option(value="A bit stressed") A bit stressed
                option(value="Very stressed (will bite)") Very stressed (will bite)
                
    // Bring in the scripts for this page
    script(src="/javascript/infoScripts.js")