extends default

block content

  // Include the reptile selections
  include reptiSelect
  
  div#infoPage.infoPageGrid
    //This page will include basic reptile info such as current and past weights,
    //shedding schedules, bathing, and other non-food or cage related data.
    
    // Weight & Size & Age
      Every type of reptile will have their weights tracked.
      Recommended readings will be monthly.
      I'd like an expandable graph to show plotted weight over time.
      This section will also allow users to input the birthday/year of their
      reptile which will be used to display their current age.
      For size, it will primaryly be length from snout to tail tip.
      Girth may aslo be recorded, which will be important for determining
      whether the reptile is over or underweight.
    div.measurementArea.contentGrid
        h3.fancyText.h3Size.textEffectC.borderA.gradientC Growth
        div.borderD.solidColorC.medEvenPad
            p.standardText To keep track of #{selected}'s growth, take measurements each month and enter them here.
            form(method="post" action="info/measurements").growthGrid
                p.standardText
                p.standardText.colLabel Date
                p.standardText.colLabel Measurement
                p.standardText.colLabel Units
                p.standardText.rowLabel Weight
                select.borderC
                    option(value="Today")
                input(type="text").borderC
                select.borderC
                    option(value="kg")
                p.standardText.rowLabel Length
                select.borderC
                    option(value="Today")
                input.borderC(type="text")
                select.borderC
                    option(value="cm")
                p.standardText.rowLabel Girth
                select.borderC
                    option(value="Today")
                input.borderC(type="text")
                select.borderC
                    option(value="cm")
                button(type="submit").submitMeasurementsButton.buttonTypeA.fancyText.hoverItem.clickItem Enter

    
    // Vet Info
      Here I could track vet information such as past illnesses and vet visits.
      The address/phone/email of your preferred vet and maybe a general one for each
      state.
    div.healthArea.contentGrid
        h3.fancyText.h3Size.textEffectC.borderA.gradientC Health
        div.borderD.solidColorC.medEvenPad
            ul.noBullets
                li
                    p Current Condition:
                li
                    p Previous Illnesses:
                li
                    p Last Vet Visit:
                li
                    p Next Scheduled Visit:
                li
                    p Last Bath:
    // Morph
      This one's straightforward. Allow selection of common morphs and user defined ones.
    div.morphArea.contentGrid
      h3.fancyText.h3Size.textEffectC.borderA.gradientC Morph
      div.borderD.solidColorC.medEvenPad
        ul.noBullets
          li
            p Morph Name:
          li
            p Morph Colors (4 or 5 dropdowns to select different colors)
        
        script(src="./javascript/infoScripts.js")
        
        form(id="colorForm" action="/info/morph_colors" method="post")
          
          //dd
            - var colors = [{name: 'Black', hex: '#000'}, {name: 'White', hex: '#FFF'}];          
            each color in colors
              - var colorID = color.name + 'CBox';
              label.fancyText= color.name
              input(id=colorID type="checkbox" onload="setColor(this, color.hex);").w-25.medEvenPad
            else
              p nada
            
    // Handling and Mood
      Most reptiles require time to destress between handlings
      In this section I'd like to be able to inform and track how the Specific
      reptile should be handled. Like the last day it was out. Maybe a Color
      to pick their reaction to being handled. maybe I dont need this section
    div.moodArea.contentGrid
      h3.fancyText.h3Size.textEffectC.borderA.gradientC Mood
      div.borderD.solidColorC.medEvenPad
        ul.noBullets
          li
            p Date of last handling:
          li
            p #{selected}'s recent mood:

    





    // Note: Reproduction could be a separate page due to the genetic aspect
