extends default

block content

  // Include the reptile selections
  include reptiSelect
  
  div#infoPage.infoPageGrid
    //This page will include basic reptile info such as current and past weights,
    //shedding schedules, bathing, and other non-food or cage related data.
    
    // Weight & Size
    
    // Bathing
    
    // Vet Info
    
    // Morph
    
    
    
    
    // Note: Reproduction could be a separate page due to the genetic aspect
