extends default

block content

	div.contentGrid.p-3
		h3.fancyText.h3Size.textEffectC.borderA.gradientC Login:
		div.borderD.solidColorC.p-3
			p.standardText Enter your username and password to login.
			hr
			br
			form.startFlex(method="POST" action="/profile/login")
				div.entryArea.borderC.entryColorC.mb-3
					label.entryIcon.width-200.righted(for="username") Username:
					input.entryInput(type="text" name="username" autofocus)
				div.entryArea.borderC.entryColorC.mb-3
					label.entryIcon.width-200.righted(for="password") Password:
					input.entryInput(type="text" name="password")
				input.buttonTypeA.fancyText.hoverItem.clickItem.p-3.mb-2(type="submit" value="Log In")