extends default

block content

  //This page containts the form to create a user account.
  div.container      
    form(method="POST" action="/profile/create_user")
      div.entry
        div.entryIcon
          i.fas.fa-user.fa-2x
        div.entryHeader.p-1
          h2.itemHeader Create New Account
        div.entryBlock.d-flex.flex-column
          p.p-2 Once you've created an account, you'll be able to track the conditions of multiple reptiles.
          hr
          div.input-group.p-3
            div.input-group-prepend
              span.input-group-text Username:
            input.form-control(type="text" name="username")
          div.input-group.p-3
            div.input-group-prepend
              span.input-group-text Password:
            input.form-control(type="text" name="password")
          div.input-group.p-3
            div.input-group-prepend
              span.input-group-text Confirm Password:
            input.form-control(type="text" name="passwordConfirm")
          div.input-group.p-3
            div.input-group-prepend
              span.input-group-text Email:
            input.form-control(type="text" name="email")
          div.input-group.p-3
            div.input-group-prepend
              span.input-group-text Reptile Name:
            input.form-control(type="text" name="reptiname")
          div.input-group.p-3
            div.input-group-prepend
              span.input-group-text Reptile Type:
            select.form-control(name="reptitype")
              include reptiOptions.pug
          div.input-group.p-3
            div.input-group-prepend
              span.input-group-text Use metric?:
            input.form-control(type="checkbox" name="metric")
          input.btn.btn-primary.hoverItem.p-3(type="submit" value="Create Account")
