extends default

block content

  //This page will include the form to create a user account.
  div.newAccountArea.contentGrid.smEvenPad
    h3.fancyText.h3Size.textEffectC.borderA.gradientC Create a new account:
    div.borderD.solidColorC.medEvenPad
      p.standardText Once you've created an account, you'll be able to track the conditions of multiple reptiles.
      hr.bigBotMarg
      form.startFlex(method="POST" action="/profile/create_user")
        div.entryArea.borderC.entryColorC.mb-3
          label.entryIcon.width-200.righted Username:
          input.entryInput(type="text" name="username")
        div.entryArea.borderC.entryColorC.mb-3
          label.entryIcon.width-200.righted Password:
          input.entryInput(type="text" name="password")
        div.entryArea.borderC.entryColorC.mb-3
          label.entryIcon.width-200.righted Confirm Password:
          input.entryInput(type="text" name="passwordConfirm")
        div.entryArea.borderC.entryColorC.mb-3
          label.entryIcon.width-200.righted Email:
          input.entryInput(type="text" name="email")
        div.entryArea.borderC.entryColorC.mb-3
          label.entryIcon.width-200.righted Name of first reptile to monitor:
          input.entryInput(type="text" name="reptiname")
        div.entryArea.borderC.entryColorC.mb-3
          label.entryIcon.width-200.righted Reptile type:
          select.entryInput(name="reptitype")
            option(value="pythonRegius") Ball Python
            option(value="pogonaGenus") Bearded Dragon
        div.entryArea.borderC.entryColorC.mb-4
          label.entryIcon.width-200.righted Use metric?:
          input.entryInput(type="checkbox" name="metric" checked)
        input.buttonTypeA.fancyText.hoverItem.clickItem.smEvenPad.medBotMarg(type="submit" value="Create Account")