extends default

block content

	div.d-flex.justify-content-center
		div.colorBox.lightA
		div.colorBox.lightB
		div.colorBox.lightC
	div.d-flex.justify-content-center
		div.colorBox.midA
		div.colorBox.midB
		div.colorBox.midC
	div.d-flex.justify-content-center
		div.colorBox.darkA
		div.colorBox.darkB
		div.colorBox.darkC