// User's Reptile Choice Area
div#reptileChoiceArea.reptileChoiceArea.borderA.gradientA
	h2.fancyText.h2Size.textEffectA Select a Reptile to Monitor:
	ul.reptiSelectFlex.noBullets

		// Get a list of user's reptiles from the database to make a list of selectable pets
		- var usersReptiles = [];
		each reptile in usersReptiles
			li.hoverItem.clickItem
				img.selectImage(src="https://www.iherp.com/Gallery/88314/157020_363331_Medium_1PceD7oheI.jpg" alt="")
				p.selectName= reptile.name


		li.hoverItem.clickItem
			img.selectImage.smEvenPad(src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/512/add-1-icon.png" alt="")
			p.selectName Add