// User's Reptile Choice Area
div.m-2.rounded.selectBorder.heavy-rain-gradient.d-flex
	div.bg-dark.d-flex.justify-content-center.align-items-center.width-50.selectSeparator
		h2.basicText.text-warning.text-size-16.rotated Select Reptile:	
	div#reptile_id(name="reptile_id", data-id=selected._id)
	div.flex-grow-1
		ul.d-flex.noBullets
			div.d-flex.flex-wrap.flex-grow-1.carousel.slide
				// Make an icon for each reptile
				if reptiles && selected
					each reptile in reptiles
						if reptile.name === selected.name
							li.hoverItem.clickItem.tuchit.m-2.selectedReptile(id=reptile._id)
								include reptiPictureLinks.pug
						else
							li.hoverItem.clickItem.tuchit.m-2.unselectedReptile(id=reptile._id)
								include reptiPictureLinks.pug
			div
				// Create icons to add and remove reptiles
				li.hoverItem.clickItem.tuchit.m-2.border.border-info.rounded
					a(href="/monitoring/create_reptile").d-flex.linkWithText
						div.bg-white.rounded-left.border-right.border-info.p-1
							img(src="/images/add-icon.png" width="40px" height="40px" alt="Add Icon")
						div.dusty-grass-gradient.rounded-right.width-100.d-flex.justify-content-center.align-items-center
							p.fancyText.text-dark Add
						
				li.hoverItem.clickItem.tuchit.m-2.border.border-info.rounded
					a(href="/monitoring/remove_reptile/"+selected._id).d-flex.linkWithText
						div.bg-white.rounded-left.border-right.border-info.p-1
							img(src="/images/minus-icon.png" width="40px" height="40px" alt="Remove Icon")
						div.ripe-malinka-gradient.rounded-right.width-100.d-flex.justify-content-center.align-items-center
							p.fancyText.text-dark Remove
				
