option(value="pythonRegius") Ball Python
option(value="pogonaGenus") Bearded Dragon
option(value="eublepharisGenus") Leopard Gecko
option(value="pantherophisGuttatus") Corn Snake
option(value="tegu") Tegu
option(value="iguanaIguana") Green Iguana
