// User's Reptile Choice Area
div.m-2.rounded.selectBorder.heavy-rain-gradient.d-flex.align-items-center
	div.bg-dark.d-flex.justify-content-center.align-items-center.width-50.align-self-stretch.selectSeparator
		h2.basicText.text-warning.text-size-16.rotated Select Reptile:	
	div#reptile_id(name="reptile_id", data-id=selected._id)
	div.flex-grow-1
		div(data-ride="carousel")#carouselControl.carousel.slide
			div.carousel-inner
				- var pages = reptiles.length % 3;
				- for (var i = 0; i < pages; i++) {
					div.carousel-item
					- for (var j = i*3; j < i*3+3; j++) {
							include reptiPictureLinks.pug
					- }
				- }		
			a(href="carouselControl" role="button" date-slide="prev").carousel-control-prev
				span.carousel-control-prev-icon
				span.sr-only Previous
			a(href="carouselControl" role="button" data-slide="next").carousel-control-next
				span.carousel-control-next-icon
				span.sr-only Next
	ul.d-flex.flex-column.noBullets
		// Create icons to add and remove reptiles
		li.hoverItem.clickItem.tuchit.m-2.button-border.rounded
			a(href="/monitoring/create_reptile").d-flex.linkWithText
				div.bg-white.rounded-left.border-right.border-info.p-1
					img(src="/images/add-icon.png" width="40px" height="40px" alt="Add Icon")
				div.dusty-grass-gradient.rounded-right.width-100.d-flex.justify-content-center.align-items-center
					p.fancyText.text-dark Add
				
		li.hoverItem.clickItem.tuchit.m-2.button-border.rounded
			a(href="/monitoring/remove_reptile/"+selected._id).d-flex.linkWithText
				div.bg-white.rounded-left.border-right.border-info.p-1
					img(src="/images/minus-icon.png" width="40px" height="40px" alt="Remove Icon")
				div.ripe-malinka-gradient.rounded-right.width-100.d-flex.justify-content-center.align-items-center
					p.fancyText.text-dark Remove
			//
				div.d-flex.flex-wrap.flex-grow-1.carousel.slide
					// Make an icon for each reptile
					if reptiles && selected
						each reptile in reptiles
							if reptile.name === selected.name
								li.hoverItem.clickItem.tuchit.m-2.selectedReptile(id=reptile._id)
									include reptiPictureLinks.pug
							else
								li.hoverItem.clickItem.tuchit.m-2.unselectedReptile(id=reptile._id)
									include reptiPictureLinks.pug
			
			
				
