// Only add ifs and imgs for new types here
a(href="/monitoring"+routePath+reptile._id)
  // Use a different icon for each reptile type
  if reptile.type === "pythonRegius"
    img.selectImage(src="https://www.iherp.com/Gallery/88314/157020_363331_Medium_1PceD7oheI.jpg" alt="Ball Python")
  if reptile.type === "pogonaGenus"
    img.selectImage(src="https://bbsmenagerie.files.wordpress.com/2013/10/beardie.jpg" alt="Bearded Dragon")
  p.selectName= reptile.name
